name: Remote Deploy

on:
  push:
    branches:
      - main  # деплой срабатывает при пуше в main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Тут ваши команды, которые должны выполниться на сервере
          script: |
            export NODE_PATH="/root/.nvm/versions/node/v22.14.0/bin
            export BUN_PATH="$HOME/.bun/bin"
            cd /var/www/telegram-transcriber
            git pull origin main
            bun install
            pm2 restart telegram-transcriber || pm2 start index.ts --name telegram-transcriber --interpreter bun